.footer {
  background-color: #222831;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circle {
  width: 90px;
  height: 70px;
  border-radius: 50%;
}

.image {
  width: 100%;
  height: 90px;
  border-radius: 70px;
  object-fit: cover;
}

.menu {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.h5 {
  color: white;
  padding: 10px;
}
